{# templates/product/lista.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Lista de Productos{% endblock %}

{% block body %}
    <h1>Lista de Productos</h1>
    <ul>
        {% for producto in productos %}
            <li>
                {{ producto.nombre }} - ${{ producto.precio }} - ${{ producto.descripcion }}
                <a href="{{ path('agregar_al_carrito', { 'id': producto.id }) }}">Agregar al Carrito</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
